{% extends 'layouts/default.html' %}
{% block title %}Tutors{% endblock %}
{% block content %}
<h1>Tutors on Staff</h1>
{% if tutors_list %}
{% for tutor in tutors_list %}
<article class="tutor">
    <h2>{{ tutor.first_name }} {{ tutor.last_name }}</h2>
    <dl>
        <dt>Year</dt>
        <dd>{{ tutor.year }}</dd>
        {% if tutor.course_set.all %}
        <dt>Courses</dt>
        <dd>
        <ul>
            {% for course in tutor.course_set.all %}
            <li>{{ course.short_name }}</li>
            {% endfor %}
        </ul>
        </dd>
        {% endif %}
    </dl>
</article>
{% endfor %}
{% else %}
<p>There are currently no tutors available.</p>
{% endif %}
{% endblock %}
