{% extends 'layouts/default.html' %}
{% block title %}Teaching{% endblock %}
{% block content %}
<h1>Tutors for {{ course.short_name }}</h1>
{% if tutors_list %}
<ul>
    {% for tutor in tutors_list %}
    <li>{{ tutor.first_name }} {{ tutor.last_name }}</li>
    {% endfor %}
</ul>
{% else %}
<p>There are currently no tutors available.</p>
{% endif %}
{% endblock %}
