{% extends "layouts/default.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1>Welcome!</h1>
<h2>
  <a href={% url 'schedule:index' %}>Find tutoring</a> or
  <a href="https://docs.google.com/forms/d/1Zj-hGnlTfKgiLbtO22RjaHAnfTp81qu3NuBU8Vq1vM8/viewform?usp=send_form">become a tutor</a>
  in computer science
</h2>
<p>Here you can learn about tutoring offered by the CS Club.</p>
{% endblock %}
