{% extends 'layouts/default.html' %}
{% block title %}Schedule{% endblock %}
{% block content %}
<h1>Tutoring Schedule for This Week</h1>
<section class="schedule">
    <h2>{{ start_date }} through {{ end_date }}</h2>
    <div class="details">
        <ol>
            {% for day, events in weekday_events %}
            <li class="day" id="{{ day }}">
            <h3>{{ day }}</h3>
            <div>
                <dl>
                    {% for event in events %}
                    <dt>Course</dt>
                    <dd>{{ event.course }}</dd>
                    <dt>Tutor</dt>
                    <dd>{{ event.tutor }}</dd>
                    <dt>Time Start</dt>
                    <dd>{{ event.start|time }}</dt>
                    <dt>Time End</dt>
                    <dd>{{ event.end|time }}</dt>
                    {% endfor %}
                </dl>
            </div>
            </li>
            {% endfor %}
        </ol>
        <aside>
            <h3>Search</h3>
            <form class="search" action="{% url 'schedule:index' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <input class="find-times" type="submit" value="Find Times">
            </form>
        </aside>
    </div>
</section>
{% endblock %}
