{% extends 'layouts/default.html' %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<h1>Sign Up for Tutoring</h1>
<p>To sign up, enter your name, your computer of choice, and the course
you want tutoring for.</p>
{% if error %}
<div class="error">{{ error }}</div>
{% endif %}
<form class="signup" action="{% url 'signup:index' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input class="submit" type="submit" value="Submit">
</form>
{% endblock %}
